@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  background-color: #222;
  color: #222;
  overflow-x: hidden;
}

.container{
    width:100%;
    transform-origin:top left;
    transition: all 0.5s linear;
    padding: 50px;
    background-color: #fafafa;
}

.container.show__nav{
    transform: rotate(-20deg);
}

.circle__container{
    position:fixed;
    top:-100px;
    left:-100px;
}

.circle{
    background-color: #ff7979;
    height:200px;
    width:200px;
    border-radius: 50%;
    position: relative;
    transition:all 0.5s linear;
}

.container.show__nav .circle {
    transform: rotate(-70deg);
}

.circle button{
    position:absolute;
    top:50%;
    left:50%;
    height:100px;
    color:#fff;
    background:transparent;
    border:0;
    font-size: 26px;
    cursor:pointer;
}

.circle button:focus{
    outline: none;
}

.circle button#open {
    left: 60%;
}
  
.circle button#close {
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}

.container.show__nav + nav li{
    transform: translateX(0);
    transition-delay: 0.3s;
}



nav{
    position:fixed;
    bottom:40px;
    left:0;
    z-index:1;
}

nav ul{
    list-style-type: none;
    padding-left: 30px;
}

nav ul li{
    text-transform: uppercase;
    color:#fff;
    margin:40px 0;
    transform: translateX(-100%);
    transition:all 0.3s ease-in; 
}

nav ul li i {
    font-size: 20px;
    margin-right: 10px;
}
  
nav ul li + li {
    margin-left: 15px;
    transform: translateX(-150%);
}
  
  nav ul li + li + li {
    margin-left: 30px;
    transform: translateX(-200%);
  }
  
  

.content{
    max-width: 1000px;
    margin: 50px auto;
}

.content img{
    max-width: 100%;
}

.content small{
    color:#555;
    font-style: italic;
}

.content p{
    color:#333;
    line-height: 1.5;
}